*{
margin:0;
boder:0;
}
body{
background-color:white;
color:green;
font-size=20px;
}

#heading{
background-color:yellow;
font-size:53px;
text-align:center;
font-style:italic;
}
#footer{
background-color:yellow;
font-size:33px;
text-align:center;
font-style:italic;
}